<footer class="footer">
    <div class="footer-container">
     
      <div class="footer-logo">
        <img src="./assets/logo-doury.png" alt="Project Logo" class="logo">
        <p>Votre solution pour gérer les files d'attente efficacement et sans stress.</p>
      </div>
  
      
      <div class="footer-links">
        <h3>Liens Rapides</h3>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#features">Fonctionnalités</a></li>
          <li><a href="#about">À Propos</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  
      
      <div class="footer-contact">
        <h3>Contactez-nous</h3>
        <ul>
          <li><i class="fa fa-map-marker"></i> Zone Touristique, Mahdia</li>
          <li><i class="fa fa-phone"></i> +216 22087367</li>
          <li><i class="fa fa-phone"></i> +216 900110025</li>
          <li><i class="fa fa-envelope"></i> salmenotay96&gmail.com</li>
          <li><i class="fa fa-envelope"></i> mabrouktlili7&gmail.com</li>
        </ul>
      </div>
    </div>
  
    
    <div class="footer-bottom">
      <p>&copy; 2024 . Tous droits réservés.</p>
    </div>
  </footer>
  