
html, body {
    height: 100%;
    margin: 0;
    
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    
  }
  

  .content {
    flex: 1;
    background: linear-gradient(120deg, #f7f9fc, #e9ecef);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  div{
    background: linear-gradient(120deg, #0270f7,#b4ccd3);
  }