<div class="ticket-details-container">
  <div class="ticket-card">
    <h1 class="ticket-title">Détails de votre Réservation</h1>
    <div class="ticket-info">
      <p><span class="label">Nom du Service:</span> <span class="value">{{ serviceName }}</span></p>
      <p><span class="label">Temps d'attente estimé:</span> <span class="value">{{ waitTime }} minutes</span></p>
      <p><span class="label">Rang dans la file:</span> <span class="value">{{ rank }}</span></p>
      <p><span class="label">Utilisateur connecté:</span> <span class="value">{{ userName }}</span></p>
    </div>
  </div>
</div>
