<div class="site-description">
    <div class="description-content">
      <h1 class="title">Bienvenue sur <span class="highlight">Doury!</span></h1>
      <p class="subtitle">
        Gagnez du temps en réservant votre place dans une file d'attente. Que ce soit pour la poste, une banque, ou un autre service, notre plateforme simplifie vos démarches.
      </p>
      <div class="features">
        <div class="feature" >
          <img src=".\assets\suivi.png" alt="Suivi en temps réel" class="ss"/>
          <p>Suivi en temps réel des files d'attente.</p>
        </div>
        <div class="feature">
          <img src=".\assets\reserver.png" alt="Réservation" />
          <p>Réservez votre place à distance facilement.</p>
        </div>
        <div class="feature">
          <img src="./assets/recevez.png" alt="Notifications" />
          <p>Recevez des rappels et des notifications.</p>
        </div>
      </div>
    
    </div>
  </div>
  
<app-servi></app-servi>
<app-sectionpls></app-sectionpls>
